body {
	background: url("../images/outerspace_landscape.jpeg") no-repeat;
	background-size: 100%;

}

nav {
	position:fixed;
	background-color: grey;
	padding-left: 60px;
	padding-right: 60px;
	top: 0;
	left: 0;
	width: 100%;
}

nav ul {
	display:inline-block;
	font-size: 0;
	position:relative;
	top: -20px;
}
nav ul li {
	display: inline-block;
	border-right: 1px solid black;
	font-size: 14px;
	padding: 0px 5px;
}

nav ul li a {
	color: purple;
}

main {
	border: 10px green dotted;
	width: 600px;
	height: 300px;
	position:relative;
	margin: 200px auto;
}
.icon {
	width: 50px;
	height: 50px;
	display:inline-block;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid black;  
}
.spacecat, .spacedog {
	position: absolute;
	width: 200px;
	height: 200px;
}

.spacecat {
    top: -100px;
    left: -100px;
}

.spacedog {
	bottom: -100px;
	right: -100px;
}